%% -*- erlang -*-
%% Config file for hex plugin hex_piface application.
%%
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps,  [ {hex, ".*", {git, "https://github.com/tonyrog/hex.git"}},
	  {gpio, ".*", {git, "https://github.com/tonyrog/gpio.git"}},
	  {piface, ".*", {git, "https://github.com/tonyrog/piface.git"}},
	  {lager, ".*", {git, "https://github.com/basho/lager.git"}}
	]}.

