%% -*- erlang -*-
%% Config file for hex plugin hex_piface application.
%%
{erl_opts, [debug_info]}.

{deps,  [ {hex, ".*", {git, "git@github.com:tonyrog/hex.git"}},
	  {gpio, ".*", {git, "git@github.com:tonyrog/gpio.git"}},
	  {piface, ".*", {git, "git@github.com:tonyrog/piface.git"}},
	  {lager, ".*", {git, "git://github.com/Feuerlabs/lager.git"}}
	]}.

